<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<jmxConfigurator />
	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%n%d %thread %-5level [%logger\(%F.%M:%line\)] %msg%n
			</pattern>
		</layout>
	</appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<File>./logs/log.txt</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<maxHistory>20</maxHistory> <!-- keep 20 days -->
			<fileNamePattern>./logs/%d{yyyy-MM}/%d{yyyy-MM-dd}/log-%d{yyyy-MM-dd}.%i.txt.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%n%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level [%logger] %msg%n
			</pattern>
		</layout>
	</appender>
	<appender name="WIRE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./logs/wire.txt</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<maxHistory>20</maxHistory> <!-- keep 20 days -->
			<fileNamePattern>./logs/%d{yyyy-MM}/%d{yyyy-MM-dd}/wire-%d{yyyy-MM-dd}.%i.txt.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%n%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level [%logger] %msg%n
			</pattern>
		</layout>
	</appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="FILE-BUFFER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<File>./buffers/log.txt</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<maxHistory>20</maxHistory> <!-- keep 20 days -->
			<fileNamePattern>./buffers/%d{yyyy-MM}/%d{yyyy-MM-dd}/log-%d{yyyy-MM-dd}.%i.txt.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%n%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level [%logger] %msg%n
			</pattern>
		</layout>
	</appender>

	<!--日志异步到数据库 -->
	<appender name="MySQL-Pool" class="ch.qos.logback.classic.db.DBAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<!--连接池 -->
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<url>jdbc:mysql://127.0.0.1:3306/sdk_log</url>
				<user>root</user>
				<password>123456</password>
			</dataSource>
		</connectionSource>
	</appender>

	<!--这里指定logger name 是为jmx设置日志级别做铺垫 -->
	<logger name="org.apache" level="ERROR" additivity="false">
		<appender-ref ref="WIRE" />
	</logger>
	<logger name="com.sdk.biz.snowfox.mem.buffer" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-BUFFER" />
	</logger>

	<!--<logger name="org.apache.commons" level="INFO" /> -->
	<logger name="org.redisson" level="INFO" />
	<logger name="io.netty" level="ERROR" />
	<logger name="com.biz" level="DEBUG" />

	<root level="INFO">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE" />
		<!--这里指定是否写入数据库 <appender-ref ref="MySQL-Pool" /> -->
	</root>
</configuration>